<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./css/lib/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/gradientLab.css">
        <script data-main="js/gradientLab.js" src="js/lib/require.js"></script>
        <title>Deok's Gradient Lab</title>
    </head>
    <body>
        <header>Gradient Lab</header>
        <div id = "shell">
            <div id = "gradation-wrapper">
                
            </div>
        </div>
        <footer>NHNNEXT DeokSeong</footer>
        <script>
        </script>
    </body>
</html>