<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./flip.css">
        <title>FLIP</title>
    </head>
    <body>
        <div id="title">[ O V E R V I E W ]</div>
        <div id="content_wrapper">            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">이상해</div>
                    <div class="back"></div>
                </div>
            </div>

            <div class="flip-container">
                <div class="flipper">
                    <div class="front">뭔가</div>
                    <div class="back"></div>
                </div>
            </div>

            <div class="flip-container">
                <div class="flipper">
                    <div class="front">가볍게</div>
                    <div class="back"></div>
                </div>
            </div>

            <div class="flip-container">
                <div class="flipper">
                    <div class="front">살고싶다</div>
                    <div class="back"></div>
                </div>
            </div>

            <div class="flip-container">
                <div class="flipper">
                    <div class="front">아무렇게나</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그런건 아니다</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">이석원</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">실내인간</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">고통을 견디는 법</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">한 가지 뿐이야</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">견뎌</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그저,</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">지금 아무리</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">괴로워도</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">언젠가 모든게</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">지나갈거야</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">다시 내 마음이</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">편해질거라는</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그런 믿음</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그거만 가지면 돼</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그러면 돼</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">내가 그럴 수 있을까</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">믿어</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그러면 돼</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그렇게 하면</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">아무도</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">널 어떻게 할 수 없어</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">언젠가</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">이 시기를</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">잘 견딘 뒤에</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">사람들에게</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">그리고 내 자신에게</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">나,</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">조금 늦었어도 잘했지</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">사실 나는</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">이런걸 잘 한다고</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">이야기하고싶어요</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">하지만</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">당장 제 앞의</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">물의 세기는 가파르고</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">돌다리의 간격은 멀어</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">보이질 않네요</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">초조해질 때마다</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">어찌해야 하나</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">내가,</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">무얼,</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">더.</div>
                    <div class="back"></div>
                </div>
            </div>
            
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">김애란, 비행운</div>
                    <div class="back"></div>
                </div>
            </div>
        </div>
        <script src="./flip.js"></script>
    </body>
</html>