doctype html
html
  head
    link(rel='stylesheet', href="/css/main.css" type='text/css')
    meta(charset='utf-8')
    title 굳
  body
    #wraper
      #input-style 사진선택
      input#file-input(type='file', accept='image/*')
      #textBox
        input#text-input(type='text')
        button#submit-button 입력
      #content
    script(src='js/main.js')
    script(src='js/image.js')
    script(src='js/text.js')
