html, body{
    width :100%;
    height : 100%;
}

#wrapper {
    width : 100%;
    height : 100%;

    position: absolute;

    background-image:url( "../image/bg_test.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

#frame {
    z-index: 100;
    width : 31.5%;
    padding-bottom: 31.5%;

    position: absolute;
    left: 0;
    right:0;
    margin: 18.7% auto 0 auto;
    background-color: #82A3D2;
}



.output-text {
    z-index: 110;
    width: 100%;
    height: 100%;
}

#output-image-wrapper {
    z-index: 120;
    width: 70%;
    height: 70%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}

.output-image {
    z-index: 130;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen 
and (min-device-width : 320px) 
and (max-device-width : 680px)
and (min-device-height : 320px)
and (max-device-height : 680px)
{
    #wrapper {
        width : 100%;
        height : 100%;
        
        position: absolute;
        
        background-image: url(../image/moment_mobile_bg.jpg);
        background-size: auto;
        background-attachment: fixed;
        background-position: center center;
    }
    #frame{
        background-color: #3ad274;
        
    }
}
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 680px)
and (min-device-height : 320px)
and (max-device-height : 680px)
and (orientation : portrait){
    #frame{
        width: 85vw;
        height: 85vw;
        padding : 0;
        
        margin: auto auto;
        top :0;
        left : 0;
        right : 0;
        bottom: 0;
    }
}

@media screen 
and (min-device-width : 320px) 
and (max-device-width : 680px)
and (min-device-height : 320px)
and (max-device-height : 680px)
and (orientation : landscape){
    #frame{
        width : 85vh;
        height: 85vh;
        padding: 0;
        margin: auto auto;
        top :0;
        left : 0;
        right : 0;
        bottom: 0;
    }
}
