
#image-input-button {
    position: absolute;
    top :0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color: green;
}

#image-input-wrapper {
    position : relative;
    width : 300px;
    height : 300px;
    background-color: red;
    overflow: hidden;
}

#image-input-hidden {
    position : absolute;
}

#target-image {
    float : left;
    position : relative;
    width : 300px;
}

nav {
    position : relative;
}

#shell {

    position : relative;
}
