#output-image, #output-canvas{
    width: 177.78vh;
    height: 100vh;
  
    max-width: 100vw;
    max-height: 56.25vw;
  /*
    width: 100vw; 
    height: 56.25vw; 100/56.25 = 1.778
      
    max-width: 177.78vh; 16/9 = 1.778 
    max-height: 100vh;
   */
   
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}
#output-canvas{
    opacity: 1;
    display: block;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;   
}