<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href = "./css/colorLab.css">
        <script src = "./js/require.js"></script>
        
        <title>Deok's ColorLab</title>
    </head>
    <body>
        <div id = "wrapper">
            <div id = "target-container">
                <img src = "<%= imageSrc %>">
            </div>
            <div id = "result-container">
                <div id = "colors">
                    <% for(var i=0; i<pickedColors.length; i++) {%>
   <div class = "color" style = "background-color :<%= pickedColors[i] %>;"></div>
<% } %>
                </div>
                <div id = "histo">
                    
                </div>
            </div>
        </div>
        <script>
            var color = <%-JSON.stringify(colors) %>;
            var histData = <%= JSON.stringify(histData) %>;
            //var pickedColors = <%- pickedColors %>;
        </script>
        <script src = "./js/colorLab.js"></script>
        
    </body>
    
</html>