<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"> 
        <title>Deok's GradientLab</title>
    </head>
    <body>
        <div id = "wrapper">
<!--            <img id = "image" src = "<%= imageSrc %>">-->
        </div>
        <script>
            var imageSrc = "<%= imageSrc %>";
        </script>
        <script src = "./js/gradientLab/colorTool.js"></script>
        <script src = "./js/gradientLab/myTestingTool.js"></script>
        <script src = "./js/colorLab/pickImpColor.js"></script>

        <script src = "./js/gradientLab/main.js"></script>
        
        
        
    </body>
    
</html>