<!DOCTYPE html>
<html>
	<head>
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href = "./css/main.css">
        <script src = "./js/require.js"></script>
	</head>
	<body>
		<div id = "wrapper">
			<div id = "item-factory-wrapper">
				<div id = "item-factory">
					<div id = "preview">
						<canvas id = "preview-canvas"></canvas>
						<div id = "preview-image"></div>
                        <textarea type = "text" id = "text-input"></textarea>
					</div>
					<div id = "upload">
						<input type = "file" id = "upload-hidden">
						<div id = "drag-button"></div>
						<div id = "close-button"></div>
					</div>
					<button id = "submit-button"></button>
				</div>
			</div>
			<div id = "contents">
	            <div class="flip-container">
	                <div class="flipper">
	                    <div class="front">이상해</div>
	                    <div class="back"></div>
	                </div>
	            </div>
			</div> 
		</div>
	</body>
</html>
