doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='./css/main.css')
    title ProtoType 3.0
    
  body
    #wraper
      .upload-menu
        .upload-menu-bg
        .preview
        
        form#outputdata(method = 'POST', action = './uploads', enctype='multipart/form-data')
          .upload-image
            button.upload-button 사진선택
            input.upload-file-hidden(type='file', accept='image/*',  name='image')
          input.upload-text(type='text', name='text')
          button#upload-submit 올리기

    script(src='js/main.js')
