doctype html
html
  head
    meta(charset='utf-8')
    title ProtoType 2.0
    
  body
    #wraper
      form#data(method = 'POST', action = './uploads', enctype='multipart/form-data')
        input#file-input(type='file', accept='image/*',  name='image')
        #textBox
          input#text-input(type='text', name='text')
          button#submit-button 입력

    script(src='js/main.js')
