doctype html
html
  head
    link(rel='stylesheet', href="/css/reset.css" type='text/css')
    link(rel='stylesheet', href="/css/output.css" type='text/css')
    meta(charset='utf-8')
    title ProtoType 2.0
    
  body
    img#output-image(src = './output/output.jpg')
    canvas#output-canvas()


    script(src='js/output.js')
