html{
	height : 100%;
	width : 100%;
	position : relative;
	background-color : gray;
	display : block;	
}

body{
	position: absolute;
	height : 100%;
	width : 100%;
	display : block;
	line-height: 100%;
}

#textUpload{
	background-color : yellow;
}