#masonry {
    position: relative;
    margin: 0 auto;
}

a:visited, a:link{
    color: #555555;
    text-decoration: none;
}

#moments{
    z-index: 0;
    width: 600px;
    min-width: 600px;
    min-height: 0px;
	margin : auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    padding-top: 150px;
}

#moments div {
    float: left;
    box-sizing: border-box;
    position: relative;
    font-size: 30px;
    background-size: cover;
    background-position: center;
    transition: all 0.35s ease-in;
    border: 1px solid #000000;
}

#moments div:hover {
    color: #ffffff;
    opacity: 0.9;
    background-blend-mode:saturation;
    border: 1px solid #ffffff;
}

#moments span {
    font-family: 'NanumMyeongjo';
    display: inline-block;
    width: 70%;
    float: left;
    height: 30px; 
    line-height: 32px;
/*    fontsize와 height를 동일하게.(한줄만 들어오도록)*/
    overflow: hidden;
}

/*사진이 들어가는 칸은 텍스트 가운데에 투명으로, hover시 텍스트 하얀색으로*/
.moment-1, .moment-8, .moment-9, .moment-12 {
    color: transparent;
    text-align: center;
}
.moment-1 span, .moment-8 span, .moment-9 span, .moment-12 span {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.moment-1 {
    width: 290px;
    height: 300px;
    margin: 5px;
}

.moment-2 {
    width: 290px;
    height: 100px;
    margin: 5px;
    direction: rtl;
}
.moment-2 span {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
}

.moment-3 {
    width: 190px;
    height: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 105px;
    margin-right: 5px;
    text-align: left;
}
.moment-3 span{
    position: absolute;
    top: 11px;
    left: 15px;
}

.moment-4 {
    width: 590px;
    height: 180px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 400px;
}
.moment-4 span {
    position: absolute;
    top: 15px;
    left: 15px;
}

.moment-5 {
    width: 190px;
    height: 186px;
    margin-bottom: 400px;
    margin-left: 200px;
    text-align: center;
}
.moment-5 span {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 137px;
}

.moment-6 {
    width: 240px;
    height: 150px;
    margin: 5px;
}
.moment-6 span{
    position:absolute;
    top: 15px;
    left: 15px;
}

.moment-7 {
    width: 290px;
    height: 200px;
    margin: 5px;
}
.moment-7 span {
    position: absolute;
    right: 15px;
    top: 116px;
    direction: rtl;
}

.moment-8 {
    width: 590px;
    height: 320px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 600px;
}

.moment-9 {
    width: 100px;
    height: 400px;
    margin-right: 5px;
    margin-left: -50px;
    background-size: cover;
}
.moment-9 span {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.moment-10 {
    width: 240px;
    height: 100px;
    margin-left: 300px;
    margin-bottom: 5px;
}
.moment-10 span {
    position: absolute;
    top: 56px;
    left: 15px;
}

.moment-11 {
    width: 490px;
    height: 290px;
    margin-bottom: 400px;
    margin-left: 5px;
    margin-top: 5px;
}
.moment-11 span {
    position: absolute;
    top: 241px;
    right: 15px;
    direction: rtl;
}

.moment-12 {
    width: 550px;
    height: 300px;
    margin-bottom: 300px;
    background-size: cover;
    text-align: center;
}

.moment-13 {
    width: 150px;
    height: 300px;
    margin: 5px;
    text-align: center;
}
.moment-13 span {
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.moment-14 {
    width: 430px;
    height: 300px;
    margin-top: 85px;
    margin-left: 5px;
    margin-bottom: 190px;
}
.moment-14 span {
    position: absolute;
    top: 185px;
    left: 15px;
}
