<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./prototype_ver3.css">
	<title>Prototype_ver3</title>
</head>
<body>
    <div class="wrapper">
        <!--inputMenu-->
        <div class="input_menu">
            <div class="input_menu_bg"></div>
            <form>
                <input type="file" name="input_image">
                <input type="text" name="input_text">
                <input type="submit" value="submit">
            </form>
            <div class="fileInput_wrapper">사진선택</div>
            <div class="submit_wrapper">올리기</div>
        </div>
        <button class="menu_button"></button>
        <!--//inputMenu-->
        <!--gridlayout-->
        <div id="grid_layout">
            
            <!--레이아웃 테스트용 더미이미지-->
            <div class="grid_item">
                <img src="./1.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./2.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./3.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./4.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./5.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./6.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./7.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./8.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./9.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./10.jpg"/>
            </div>
            <div class="grid_item">
                <img src="./11.jpg"/>
            </div>
        </div>
        <!--//gridlayout-->
    </div>
    <script src = "layout.js"></script>
</body>