@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#wrapper{
    width: 80%;
    height: 100%;
    margin: auto;
    font-family: "Nanum Gothic", sans-serif;
}

.menu_button{
    position: fixed;
    z-index: 20;
    top: 0px;
    left : 75%;
    width: 45px;
    height: 27px;
    background-color: transparent;
    border: 0px;
    background-image: url(./menu_button_open.png);
    background-size: 45px 27px;
    border: none;
    outline: none;
    cursor:pointer;
    opacity: 0.5;
}

.input_menu{
    position: fixed;
    z-index: 15;
    top: 10px;
    left:19%;
    width: 63%;
    height: 50px;
    line-height: 70px;
    margin: auto;
    display: none;
    -webkit-animation: showMenu 0.5s;
}

@-webkit-keyframes showMenu {
    from   {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes hideMenu {
    from   {opacity: 1;}
    to {opacity: 0;}
}

.input_menu_bg{
    position: fixed;
    z-index: 0;
    top: 0;
    left:19%;
    width: 63%;
    //width: 800px;
    height: 65px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border: 0px;
    border-radius: 3px;
}

.inputFilePreview{
    position : fixed;
    z-index: 10;
    top: 95px;
    left: 27%;
    width: 46%;
    height: 460px;
    border: 2px solid #CCCCCC;
    display: none;
}

#form-outputdata .fileinput{
    position: fixed;
    width: 12%; //150px;
    height: 29px;
    top : 28px;
    left : 25%;
}
/*파일선택창*/
#form-outputdata .upload-file{
    position: absolute;
    top : 0;
    left : 0;
    opacity: 0;
}
/*
파일선택창 가리기
*/
#form-outputdata .upload-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 29px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #4C4C4C;
}

/*텍스트입력창*/
#form-outputdata .upload-text{
    position: fixed;
    top: 28px;
    left: 38%;
    width: 24%;   //300px
    height: 25px;
    line-height: 25px;
    background: transparent;
    border: 1px solid #808080;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

/*submit버튼*/
#form-outputdata .upload-submit{
    position: fixed;
    z-index: 5;
    top:28px;
    left: 66%;
    width: 7%;  //78px
    height: 25px;  
    line-height: 26px;
    text-align: center;
    color: #707070;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: #FFFFFF;
}





#grid_layout{
    margin-top: 80px;
    -webkit-column-count : 4;
    -webkit-column-gap : 8px;
    -webkit-column-fill : auto;
    -moz-column-count : 4;
    -moz-column-gap : 8px;
    -moz-column-fill : auto;
    column-count: 4;
    column-gap: 8px;
    column-fill: auto;
}

.grid_item{
    width : 100%;
    display: inline-block;
    margin: 0px 2px 12px;
    -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
    column-break-inside : avoid;
}

img{
    width: 100%;
}

