@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html{
	height : 100%;
	width : 100%;
    max-height: 100%;
    max-width: 100%;
	position : relative;
    background-image: url('../image/concrete_texture.jpg');
    background-size: cover;
	display : block;	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
	position: absolute;
	height : 100%;
	width : 100%;
	display : block;
	line-height: 100%;
    font-family: "Nanum Gothic", sans-serif;
}

#itemFactory-button-wrapper {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 10%;
}

#itemFactory-button {
    z-index: 10;
    position: absolute;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    cursor: pointer;
}

#close-button {
    z-index: 120;
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    display: none;
    cursor: pointer;
}

#itemFactory {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
}

#upload-wrapper {
    z-index: 100;
    position: absolute;
    width: 50%;
    min-width: 600px;
    height: 60%;
    min-height: 400px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#preview-image {
    z-index: 120;
    width: 85%;
    height: 80%;
    background-image: url(../image/camera.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 5%;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.9;
    border: 2px solid #555555;
    border-style: dashed;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
}
#input-image {
    z-index: 120;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#upload-file, upload-text {
    z-index: 120;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 80%;
    min-width: 600px;
    height: 100%;
    min-height: 400px;
    text-align: center;
}

#upload-hidden {
    z-index: 140;
    position: absolute;
    top: 5%;
    margin: auto;
    left: 0;
    right: 0;
    width: 85%;
    height: 80%;
    opacity: 0;
    cursor: pointer;
}

#upload-drag {
    z-index: 130;
    width: 85%;
    height: 80%;
    position: absolute;
    top: 5%;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0;
}

#confirm-button {
    z-index: 130;
    opacity: 0.8;
    width: 130px;
    height: 130px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 15%;
    background-image: url(../image/confirm.png);
    background-size: cover;
    cursor: pointer;
}

input:focus{
    outline : 0;
}
#text-input {
    position: absolute;
    width: 100%;
    height: 100px;
    line-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    font-family: "NanumMyeongjo";
    font-size : 50px;

    text-align: center;
    vertical-align: middle;
    z-index: 21;

}
#back-ground-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
#submit-button {
    position : absolute;
    z-index : 22;
    margin-top : 60%;
    color : white;
    background-color : #202020;
    width : 100%;
    height : 40px;
    cursor: pointer;
}

#wrapper{
    z-index: 10;
	width : 80%;
	height : 30%;
	position : absolute;
	background-color : #444444;
    opacity: 0.8;
	margin : auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#navBar{
    z-index: 10;
	margin-top : 0%;
	height : 20%;
	width : 100%;
	position : absolute;
	background-color: #444444;
	display : block;
}

#momentsBar{
    z-index: 10;
	top : 20%;
	height : 80%;
	width : 100%;
	position : absolute;
	display : block;
}

#moments{
    z-index: 20;
    width : 100%;
    height : 100%;
    position: absolute;
    overflow: hidden;
}

.moment{
    z-index: 30;
    float: left;
    display: block;
	height : 100%;
    width : 3%;
	transition: all 0.4s ease .300ms;
}
#moments:hover li{
    width : 2%;   
}
#moments li:hover{
    width :29%;   
}
.moment > canvas{
    position: absolute;
}
