
#moments{
    z-index: 10;
    width: 50%;
    min-width: 600px;
    height: 60%;
    min-height: 400px;
	position : absolute;

    opacity: 0.9;    
    background-image:url( "../image/backGround.jpg");
    background-size: auto;
    background-attachment: fixed;

	margin : auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/*

.moment-first {
    width: 300px;
    height: 100px;
    background-color: #111111;
}

.moment second {
    width: 150px;
    height: 200px;
    background-color: #222222;
}

.moment third {
    width: 150px;
    height: 300px;
    background-color: #333333;
}

.moment fourth {
    width: 150px;
    height: 100px;
    background-color: #444444;
}

.moment fifth {
    width: 300px;
    height: 100px;
    background-color: #555555;
}

.moment sixth {
    width: 300px;
    height: 100px;
    background-color: #666666;
}

.moment seventh {
    width: 300px;
    height: 100px;
    background-color: #777777;
}
*/
#moments > div:nth-child(1){
    box-sizing : border-box;
    position : relative;
    float : left;
    width : 50%;
    height : 62%;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    background-image: url('../image/mainTest1.jpg');
    background-size: cover;
}
#moments > div:nth-child(2){
    box-sizing : border-box;
    float : left;
    width : 50%;
    height : 25%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(2):hover {
    box-sizing : border-box;
    background-color: rgb(94,214,145);
    opacity: 0.65;
}

#moments > div:nth-child(3){
    box-sizing : border-box;
    float : left;
    width : 44.6%;
    height : 13%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(4){
    box-sizing : border-box;
    float : left;
    width : 44.6%;
    height : 8%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(5){
    box-sizing : border-box;
    float : left;
    width : 25%;
    height : 18.3%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(6){
    box-sizing : border-box;
    float : left;
    width : 48.6%;
    height : 15%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(7){
    box-sizing : border-box;
    float : left;
    width : 97.3%;
    height : 6%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}

.wp{
    float : left;
    color : white;
    font-family : nanumgothic;
    font-size : 16px;
    line-height : 20px;
    padding : 5px;
}




#moments > div:nth-child(8){
    box-sizing : border-box;
    position : relative;
    float : left;
    width : 50%;
    height : 62%;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    background-image: url('../image/mainTest2.jpg');
    background-size: cover;
}
#moments > div:nth-child(9){
    box-sizing : border-box;
    float : left;
    width : 44.6%;
    height : 25%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(10){
    box-sizing : border-box;
    float : left;
    width : 44.6%;
    height : 13%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(11){
    box-sizing : border-box;
    float : left;
    width : 44.6%;
    height : 8%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(12){
    box-sizing : border-box;
    float : left;
    width : 25%;
    height : 18.3%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(13){
    box-sizing : border-box;
    float : left;
    width : 48.6%;
    height : 15%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
#moments > div:nth-child(14){
    box-sizing : border-box;
    float : left;
    width : 97.3%;
    height : 6%;
    position : relative;
    border-style: solid;
    border-width : 2px;
    border-color : #ffffff;
    padding : 5px;
    margin : 1px;
}
