#masonry {
    position: relative;
    margin: 0 auto;
}

a:visited, a:link{
    color: #222222;
    text-decoration: none;
}

#moments{
    z-index: 0;
    width: 600px;
    min-width: 600px;
    min-height: 400px;
	margin : auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    padding-top: 150px;
}

#moments div {
    float: left;
    box-sizing: border-box;
    position: relative;
    font-size: 13px;
    background-size: cover;
    background-position: center;
    transition: all 0.35s ease-in;
}
/*

#moments span {
    position: absolute;
    top: 50%;
    text-align:center;
    transform: translate(0,-50%);
}
*/

#moments div:hover {
    color: #ffffff;
    opacity: 0.75;
    background-blend-mode:saturation;
}

.moment-1, .moment-8, .moment-9, .moment-12 {
    color: transparent;
    text-align: center;
}

.moment-1 {
    width: 290px;
    height: 300px;
    line-height: 300px;
    border: 2px solid #ffffff;
    margin: 5px;
/*
    background-image: url("../image/main5.jpg");
    background-color: rgb(83,127,145);
*/
}

.moment-2 {
    width: 290px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #ffffff;
    margin: 5px;
    line-height: 100px;
    text-align: center;
}

.moment-3 {
    width: 190px;
    height: 190px;
    line-height: 190px;
    border: 2px solid #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 105px;
    margin-right: 5px;
    text-align: center;
}

.moment-4 {
    width: 590px;
    height: 180px;
    line-height: 180px;
    border: 2px solid #ffffff;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 400px;
    text-align: center;
}

.moment-5 {
    width: 190px;
    height: 186px;
    line-height: 186px;
    border: 2px solid #ffffff;
    margin-bottom: 400px;
    margin-left: 200px;
    text-align: center;
}

.moment-6 {
    width: 240px;
    height: 150px;
    line-height: 150px;
    border: 2px solid #ffffff;
    margin: 5px;
    text-align: center;
}

.moment-7 {
    width: 290px;
    height: 200px;
    line-height: 200px;
    border: 2px solid #ffffff;
    margin: 5px;
    text-align: center;
}

.moment-8 {
    width: 590px;
    height: 320px;
    line-height: 320px;
    border: 2px solid #ffffff;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 600px;
    background-image: url("../image/main2.png");
    background-size: cover;
    background-color: rgb(115,90,74);
}

.moment-9 {
    width: 100px;
    height: 400px;
    line-height: 400px;
    border: 2px solid #ffffff;
    margin-right: 5px;
    margin-left: -50px;
    background-image: url("../image/mainTest2.jpg");
    background-size: cover;
}

.moment-10 {
    width: 240px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #ffffff;
    margin-left: 300px;
    margin-bottom: 5px;
    text-align: center;
}

.moment-11 {
    width: 490px;
    height: 290px;
    line-height: 290px;
    border: 2px solid #ffffff;
    margin-bottom: 400px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

.moment-12 {
    width: 550px;
    height: 300px;
    line-height: 300px;
    border: 2px solid #ffffff;
    margin-bottom: 300px;
    background-image: url("../image/main4.jpg");
    background-size: cover;
}

.moment-13 {
    width: 150px;
    height: 300px;
    line-height: 300px;
    border: 2px solid #ffffff;
    margin: 5px;
}

.moment-14 {
    width: 430px;
    height: 300px;
    line-height: 300px;
    border: 2px solid #ffffff;
    margin-top: 85px;
    margin-left: 5px;
    margin-bottom: 190px;
}
