<!DOCTYPE html>
<html id = "html">
    <head>
        <meta charset="utf-8">   
        <link rel="stylesheet" type="text/css" href="./css/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/mainPage.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">
        <title>a moment</title>
    </head>
    <body>
        <div id = "wrapper">
<!--        업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="itemFactory">
                <div id="upload-wrapper">
                    <div id="upload-file">
                        <div id="preview-image">
                            <img id="camera" src="image/camera.png"/>
                        </div>
                        <input type = "file" id = "upload-hidden" name = "image" accept = "image/*">
                        <div id="upload-drag"></div>
                        <div id = "confirm-button"></div>
                    </div>

                    <div id="upload-text">
                        <input id = "text-input" type = "text" value = "30자 이내로 입력하세요." style="ime-mode: disabled;">
                        <canvas id = "back-ground-canvas"></canvas>
                        <img id = "submit-button" src = "image/png/confirm.png">
                    </div>
                </div>
            </div>        
    <!--        //업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="close-button-wrapper">
<!--                <a href = "./">-->
                    <img id="close-button" src="image/png/close.png"/>
<!--                </a>-->
            </div>
            <div id="itemFactory-button-wrapper">
<!--                <a href = "./#itemFactory">-->
                    <img id = "itemFactory-button" src = "./image/png/plus.png"/>
<!--                </a>-->
            </div>
            <div id = "moments-wrapper" style="height:7000px;">
                <div id = "moments">

<!--                    background-image url을 찾아올 수가 없습니다.....ㅠㅜ-->
                    
                    <% for(var i=0; i<moments.length; i++) {%>
                    <a href = "./moment/<%= moments[i].id %>">
                        <div class="moment-<%= i+1 %>">
                            <span><%= moments[i].text%></span>
                        </div>
                    </a>
        
<!--                     <a href="#">
                        <div class="moment-1">
                            <span>별이 빛나는</span>
                        </div>
                    </a> -->
                    <a href="#">
                        <div class="moment-2">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-3">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-4">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-5">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-6">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-7">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-8">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-9">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-10">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-11">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-12">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-13">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="moment-14">
                            <span>별이 빛나는</span>
                        </div>
                    </a>
                </div> 
            </div>    
        </div>
        <script src="./js/lib/commonCanvas.js"></script>
        <script src="./js/lib/EventUtil.js"></script>
        <script src="./js/lib/cssUtil.js"></script>
        <script src="./js/lib/masonry.pkgd.min.js"></script>
        <script src="./js/index.js"></script>
        <script src="./js/testInput.js"></script>
        <script>
            var container = document.getElementById('moments');
            var masnry = new Masonry(container, {
                columnWidth : 150,
                itemSelector : '.moment'
            });   
        </script>
        <script>
//            var style=document.getElementByTagName('style');
//            var momentDivs = document.querySelectorAll('#moments div');
//            for(var i=0; i<moments.length ; i++){
//                var hoverText = '#moments div:nth-of-type(14n+'+(i+1)+'):hover { background-color : '+ moments[i].bgColor +' }'
//                style.innerHTML += hoverText;
//            }
        </script>
        
    </body>
</html>