<!DOCTYPE html>
<html id = "html">
    <head>
        <meta charset="utf-8">   
        <link rel="stylesheet" type="text/css" href="./css/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/mainPage.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">

        <title>a moment</title>
    </head>
    <body>
        <div id = "wrapper">
<!--        업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="itemFactory">
                <div id="upload-wrapper">
                    <div id="upload-file">
                        <div id="preview-image">
                            <img id="camera" src="image/camera.png"/>
                        </div>
                        <input type = "file" id = "upload-hidden" name = "image" accept = "image/*">
                        <div id="upload-drag"></div>
                        <div id = "confirm-button"></div>
                    </div>

                    <div id="upload-text">
                        <input id = "text-input" type = "text" value = "30자 이내로 입력하세요." style="ime-mode: disabled;">
                        <canvas id = "back-ground-canvas"></canvas>
                        <img id = "submit-button" src = "image/png/confirm.png">
                    </div>
                </div>
            </div>        
    <!--        //업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="close-button-wrapper">
<!--                <a href = "./">-->
                    <img id="close-button" src="image/png/close.png"/>
<!--                </a>-->
            </div>
            <div id="itemFactory-button-wrapper">
<!--                <a href = "./#itemFactory">-->
                    <img id = "itemFactory-button" src = "./image/png/plus.png"/>
<!--                </a>-->
            </div>

            <div id = "moments">
                <div class="moment-1">
                    <img>
                    <p>1</p>
                </div>
                <div class="moment-2">
                    <img>
                    <p>2</p>
                </div>
                <div class="moment-3">
                    <img>
                    <p>3</p>
                </div>
                <div class="moment-4">
                    <img>
                    <p>4</p>
                </div>
                <div class="moment-5">
                    <img>
                    <p>5</p>
                </div>
                <div class="moment-6">
                    <img>
                    <p>6</p>
                </div>
                <div class="moment-7">
                    <img>
                    <p>7</p>
                </div>
                
                <div class="moment-8">
                    <img>
                    <p>8</p>
                </div>
                <div class="moment-9">
                    <img>
                    <p>9</p>
                </div>
                <div class="moment-10">
                    <img>
                    <p>10</p>
                </div>
                <div class="moment-11">
                    <img>
                    <p>11</p>
                </div>
                <div class="moment-12">
                    <img>
                    <p>12</p>
                </div>
                <div class="moment-13">
                    <img>
                    <p>13</p>
                </div>
                <div class="moment-14">
                    <img>
                    <p>14</p>
                </div>

            </div>
            
        </div>        
        <script src="./js/lib/commonCanvas.js"></script>
        <script src="./js/lib/EventUtil.js"></script>
        <script src="./js/lib/cssUtil.js"></script>
        <script src="./js/index.js"></script>
        <script src="./js/testInput.js"></script>
        <script>
            var container = document.getElementById('moments');
            var msnry = new Masonry(container, {
                columnWidth : 150,
                itemSelector : '.moment'
            });    
        </script>
        
    </body>
</html>