<!DOCTYPE html>
<html id = "html">
    <head>
        <meta charset="utf-8">   
        <link rel="stylesheet" type="text/css" href="./css/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/mainPage.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">

        <title>a moment</title>
    </head>
    <body>
        <div id = "wrapper">
<!--        업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="itemFactory">
                <div id="upload-wrapper">
                    <div id="upload-file">
                        <div id="preview-image">
                            <img id="camera" src="image/camera.png"/>
                        </div>
                        <input type = "file" id = "upload-hidden" name = "image" accept = "image/*">
                        <div id="upload-drag"></div>
                        <div id = "confirm-button"></div>
                    </div>

                    <div id="upload-text">
                        <input id = "text-input" type = "text" value = "30자 이내로 입력하세요." style="ime-mode: disabled;">
                        <canvas id = "back-ground-canvas"></canvas>
                        <button id = "submit-button">submit</button>
                    </div>
                </div>
            </div>        
    <!--        //업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="close-button-wrapper">
                <a href = "./">
                    <img id="close-button" src="image/png/close.png"/>
                </a>
            </div>
<<<<<<< HEAD
            <div id="itemFactory-button-wrapper">
                <a href = "./#itemFactory">
                    <img id = "itemFactory-button" src = "./image/png/plus.png"/>
                </a>
            </div>

            <div id = "moments">
                <div class = "moment">
                    <p class = "wp">Prove</p> 
                </div>
                <div class = "monent">
                    <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">옳은 길</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">따위는 없는걸.</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">Prove</p> 
                </div>
                <div class = "moment">
                     <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">업로드 버튼 클릭시 나타나는 아이템팩토리</p> 
                </div>
                <div class = "moment">
                    <p class = "wp">옳은 길</p> 
                </div>
                <div class = "moments">
                    <p class = "wp">따위는 없는걸.</p> 
                </div>
            </div>
            
<!--                 <div id = "momentsBar">
                <ul id = "moments"></ul>
            </div> 
            <div id = "navBar"></div>  -->
=======
        </div>        
<!--        //업로드 버튼 클릭시 나타나는 아이템팩토리-->
        <div id="close-button-wrapper">
            <img id="close-button" src="image/png/close.png"/>
        </div>
        <div id="itemFactory-button-wrapper">
            <img id = "itemFactory-button" src = "./image/png/plus.png"/>
        </div>
        
        <div id = "wrapper">
            <div class = "momnents">
                <p class = "wp">Prove</p> 
            </div>
            <div class = "momnents">
                 <p class = "wp">1</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">2</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">3</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">4</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">5</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">6</p> 
            </div>

                        <div class = "momnents">
                <p class = "wp">Prove</p> 
            </div>
            <div class = "momnents">
                 <p class = "wp">a</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">b</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">c</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">d</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">e</p> 
            </div>
            <div class = "momnents">
                <p class = "wp">f</p> 
            </div>

>>>>>>> ecd5dd46adc0e44c2712899acb5e5bc03ff31224
        </div> 
        <script src="./js/lib/commonCanvas.js"></script>
        <script src="./js/lib/EventUtil.js"></script>
        <script src="./js/lib/cssUtil.js"></script>
        <script src="./js/index.js"></script>
        <script src="./js/mainPage.js"></script>
        <script src="./js/testInput.js"></script>
        
    </body>
</html>