<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="minimal-ui">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../css/lib/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/moment.css">
        <title>moment</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="moment">
                <canvas id = "bg-canvas"></canvas>
                <canvas id = "text-canvas"></canvas>
                <div id="moment-image-wrapper">
                    <img class="moment-image" src = "../<%= file %>">
                </div>
            </div>
        </div>
        <script>
            var bgColor = "<%= bgColor[0] %>";
            var textColor = "<%= textColor %>";
            var text = "<%= text %>";
        </script>
        <script src="../js/lib/EventUtil.js"></script>
        <script src="../js/lib/commonCanvas.js"></script>
        <script src="../js/lib/drawText.js"></script>
        <script src="../js/utility.js"></script>
        <script src="../js/moment_ds.js"></script>
    </body>
</html>