<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="minimal-ui">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../css/lib/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/moment.css">
        <title>moment</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="moment">
                <div id="output-text">
                    <canvas id = "text-canvas"></canvas>
                    <canvas id = "back-canvas"></canvas>
                </div>
                <div id="output-image-wrapper">
                    <img class="output-image">
                </div>
            </div>
        </div>
        <script src="../js/EventUtil.js"></script>
        <script src="../js/utility.js"></script>
        <script src="../js/moment.js"></script>
    </body>
</html>