<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/lib/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/newMain.css">
        <!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
        <title>newMain Test</title>
    </head>
    <body>
<!--        <svg width = "100" height = "100"></svg>-->
        <div id="wrapper">
        
            <div id="itemFactory-button-wrapper">
                <img id = "itemFactory-button" src = "./image/png/plus.png"/>
            </div>
            <div id = 'text-wrapper'>
    <!--            span은 임시 아이디로 부여해둡니다. 모멘트 아이디를 가져다 쓰면 될 것 같습니다.-->
            <a href="#">
                <span id="t1">뭐 난 괜찮다고</span>
            </a>
            <a href="#">
                <span id="t2">I'm fine</span>
            </a>
            <a href="#">
                <span id="t3">위잉위잉</span>
            </a>
            <a href="#">
                <span id="t4">뭐든 할 수 있을 것 같은 기분!</span>
            </a>
            <a href="#">
                <span id="t5">파이널입니다</span>
            </a>
            
            <a href="#">
                <span id="t6">낭만적이다</span>
            </a>
            
            <a href="#">
                <span id="t7">여행가고 싶다</span>
            </a>
            
            <a href="#">
                <span id="t8">나중에 행복한 삶보다 지금이 재밌는 삶</span>
            </a>
            
            <a href="#">
                <span id="t9">합성하지 마라</span>
            </a>
            
            <a href="#">
                <span id="t10">꽃이 오래 살아있네?</span>
            </a>
            
            <a href="#">
                <span id="t11">연말 기분이 나질 않아</span>
            </a>
            
            <a href="#">
                <span id="t12">되게 많이 들어간다 이거</span>
            </a>
            
            <a href="#">
                <span id="t13">밤을 지새우면 뭐든 나오겠지</span>
            </a>
            
            <a href="#">
                <span id="t14">더이상 생각나지 않아</span>
            </a>
            
            <a href="#">
                <span id="t15">꽃도 당분을 섭취해야 해</span>
            </a>
            
            <a href="#">
                <span id="t16">이상한 우유</span>
            </a>
            
            <a href="#">
                <span id="t17">스타벅스 이상해</span>
            </a>
            
            <a href="#">
                <span id="t18">다시는 먹지 않기로 했어</span>
            </a>
            
            <a href="#">
                <span id="t19">안녕, 안녕하세요</span>
            </a>
            
            <a href="#">
                <span id="t20">무슨 말이든 해봐</span>
            </a>
            
            <a href="#">
                <span id="t21">생각보다 괜찮은 것 같아요</span>
            </a>
            
            <a href="#">
                <span id="t22">어떻게 하지?</span>
            </a>
                
            <a href="#">
                <span id="t23">YO 내가 어디까지 가는지</span>
            </a>
            
            <a href="#">
                <span id="t24">너무 추워</span>
            </a>
            
            <a href="#">
                <span id="t25">난 안경쓴 샌님이니까</span>
            </a>
            
            <a href="#">
                <span id="t26">지금은 좀 그래</span>
            </a>
            
            <a href="#">
                <span id="t27">오래된 사진이 있으니까</span>
            </a>
            
        </div>
            
        </div>
        
        
        
        <script src="/js/newMain.js"></script>
    </body>
</html>