<!DOCTYPE html>
<html>
    <head>
        <title>output</title>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/output.css">
    </head>
    <body>
<!--        background-img로 콘크리트 이미지 삽입-->
        <div id="frame">
            <div id="moment-wrapper">
                <canvas id="bgcolor"></canvas>
                <canvas id="text"></canvas>
                <div id="image-wrapper">
                    <img id="image" src="<%= image-src %>">
                </div>
                <img id="frame-innershadow" src="<%= frame-innershadow-src %>">
            </div>
        </div>
        <script>
            
        </script>
    </body>
</html>

<!--ejs형식으로 바꾸기-->