<!DOCTYPE html>
<html id = "html">
    <head>
        <meta charset="utf-8">   
        <link rel="stylesheet" type="text/css" href="./css/lib/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/mainPage.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">

        <title>a moment</title>
    </head>
    <body>
        <div id = "wrapper">
<!--        업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="itemFactory">
                <div id="upload-wrapper">
                    <div id="upload-file">
                        <div id="preview-image">
                            <img id="camera" src="image/camera.png"/>
                        </div>
                        <input type = "file" id = "upload-hidden" name = "image" accept = "image/*">
                        <div id="upload-drag"></div>
                        <div id = "confirm-button"></div>
                    </div>

                    <div id="upload-text">
                        <input id = "text-input" type = "text" value = "30자 이내로 입력하세요." style="ime-mode: disabled;">
                        <canvas id = "back-ground-canvas"></canvas>
                        <button id = "submit-button">submit</button>
                    </div>
                </div>
            </div>        
    <!--        //업로드 버튼 클릭시 나타나는 아이템팩토리-->
            <div id="close-button-wrapper">
                <img id="close-button" src="image/png/close.png"/>
            </div>
            <div id="itemFactory-button-wrapper">
                <img id = "itemFactory-button" src = "./image/png/plus.png"/>
            </div>
        </div> 
        
        <script src="./js/lib/commonCanvas.js"></script>
        <script src="./js/lib/EventUtil.js"></script>
        <script src="./js/lib/cssUtil.js"></script>
        <script src="./js/testMain/main.js"></script>
    </body>
</html>
