<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">   
        <link rel="stylesheet" type="text/css" href="./css/reset.css"><!-- 
        <link rel="stylesheet" type="text/css" href="./css/mainPage.css"> -->
        <link rel="stylesheet" type="text/css" href="./css/index.css">
        <title>a moment</title>
    </head>
    <body id = "body">
        <div id = "wrapper">
            <div id="itemFactory">
                <div id="upload-wrapper">
                    <div id="upload-file">
                        <div id="preview-image">
                            <div id="preview-image-border"></div>
                            <img id="camera" src="image/camera.png"/>
                            <img id="input-image"/>
                        </div>
                        <input type = "file" id = "upload-hidden" name = "image" accept = "image/*">
                        <div id="upload-drag"></div>
                        <div id = "confirm-button"></div>
                    </div>
                    <div id="upload-text">
                        <input id = "text-input" type = "text" value = "30자 이내로 입력하세요." style="ime-mode: disabled;">
                        
                        <img id = "submit-button" src = "image/png/confirm.png">
                    </div>
                </div>
            </div>        
            <canvas id = "back-ground-canvas"></canvas>
            <div id="close-button-wrapper">
                <img id="close-button" src="image/png/close.png"/>
            </div>
            <div id="itemFactory-button-wrapper">
                <img id = "itemFactory-button" src = "./image/png/plus.png"/>
            </div>
            <div id ="loading-image-wrapper">
                <canvas id = "loading-image"></canvas>
            </div>
            <div id = "moments-wrapper">
                <div id = "moments">
                    
                </div> 
            </div>    
        </div>

        <script src="./js/lib/commonCanvas.js"></script>
        <script src="./js/lib/global.js"></script>
        <script src="./js/lib/EventUtil.js"></script>
        <script src="./js/lib/cssUtil.js"></script>
        <script src="./js/lib/textInput.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>